
@mixin slider-desctop-mini-heading {
  @media (min-width: 60rem) and (max-width: 78rem) {
    font-size: 2rem;
    line-height: 2.3125rem;
    width: 17.625rem;
  }
}
@mixin slider-desctop-mini-descreption {
  @media (min-width:63.75rem) and (max-width: 86.35rem) {
    font-size: 1.375rem;
    line-height: 1.375rem;
    width: 17.625rem;
  }
}
@mixin slider-table {
  @media (min-width: 20rem) and (max-width: 50rem) {
    display: none;
  }
}
@mixin order-card {
  @media (min-width: 50rem) and (max-width: 78rem) {
   padding: 9px 70px 0 50px;;
  }
}
