/**Переменные*/
$color-green: #0ec261;
$white: #fff;
$radius-btn:0.5rem;
$main-black:#121212;
$main-dark-gray:#999999;
$main-light-gray:#EEEEEE;
$bg-img: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

$background-overlay: rgba(21, 27, 31, 0.81);

$btn-green-dark: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
$btn-blue-sea: linear-gradient(90deg, #06152e 0%, #055345 100%);
$btn-slider-red:linear-gradient(90deg, #493013 0%, #460721 100%);
$btn-slider-violet:linear-gradient(90deg, #22084d 0%, #56005e 100%);

$btn-green-hover:linear-gradient(90deg, #49c07f 0%, #025a0d 100%);
$btn-blue-hover:linear-gradient(90deg, #0849b8 0%, #004236 100%);
$btn-red-hover:linear-gradient(90deg, #570c0c 0%, #a71d62 100%);
$btn-violet:linear-gradient(90deg, #1e014d 0%, #970477 100%);

:export {
  green: $btn-green-dark;
  blue:$btn-blue-sea;
  red:$btn-slider-red;
  violet:$btn-slider-violet;

  hoverGreen:$btn-green-hover;
  hoverBlue:$btn-blue-hover;
  hoverRed:$btn-red-hover;
  hoverViolet:$btn-violet;
}



/**Миксины*/

//Базовое состояние кнопки
@mixin base-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

//Базовый цвет кнопки
@mixin base-btn-green {
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  
}

//Наведение на кнопку
@mixin base-hover-green {
    background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
    background-blend-mode: darken;
}

//Нажатие на кнопку
@mixin  base-active-green {
    background: linear-gradient(90deg, #076432 2.61%, #013C27 112.6%);
    background-blend-mode: darken;
}

//Выбраная кнопка
@mixin base-click-green {
    background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
    background-blend-mode: darken;
  }


//Заблокированая кнопка
@mixin base-disabled-green {
    background: $main-light-gray;
}


@mixin color-slider {
  border-radius: 0.125rem;
  width: 10.25rem;
  height: 3rem;
  @include base-btn
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  
}

@mixin slider-arrow-hover {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  top: 0;
  z-index: 101;
  height: 100%;
  width: 4rem;
  @media (min-width: 60rem) and (max-width: 1280px) {
    width: 2rem;
  }
}
@mixin logo {
  @include logo-mobile;
  text-decoration: none;
  cursor: pointer;
  color: $color-green;
  font-weight: $bold;
  font-size: 1.875rem;
}
@mixin city {
  @include city-mobile;
    color: $main-dark-gray;
    font-size: 0.875rem;
    font-weight: $normal;
    display: flex;
    align-items: center;
}